@charset "UTF-8";
/*body{
	Align-items:center;
	background-color: #e5e7e9 ;
	font-family:'Montserrat',sans-serif;
	justify-content:center;
	height:100vh;
	margin:0;
	  
	background-image:url('back2.jpg');
	background-size:cover;
	background-position: center center;
	background-repeat:no-repeat;
	color:  #212f3d  ;
	display:flex;
	flex-direction:column;
} */



/* fluff ////////////////////////////////////////////*/

*{
	margin: 0;
	padding: 0;
}

body{
	background:url('pet_dark.jpg');
	background-size:cover;
	background-position: center center;
	background-repeat:no-repeat;
	color:  #212f3d  ;
	height:100vh;
	font-family:"open sans", sans-serif;
}
.logo{
    font-family: "Pacifico", "cursive";
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-decoration: none;
    color: #fff;
    color: #FF7F50;
    display:flex;
    top:0;
    left:0;
    width:100%;
}

.logo p{
	padding-left:30px;
	padding-top:15px;
}

.wlcm_container{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	width:536px;
	height:500px;
	text-align:justify;
	margin-top:100px;
	margin-left:115px;
}

.wlcm_container p{
	font-size:40px;
	margin-top:20px;
	margin-bottom:90px;
	color:#fff;
	font-weight:600;
}

.wlcm_container h3{
	color:lightgray;
	font-weight:200;
	font-size:17px;
}


/* fluff ////////////////////////////////////////////*/


.links a{
	margin-top:40px;
	text-decoration: none;
	color: #fff ;
	font-weight:bold;
	transition:color 0.3s ease;
	border:1px solid #fff;
	padding: 15px 50px;
	margin-right:37px;
}

.links a:hover{
	color:#ff7f50;
	text-transform:uppercase;
	border-color:#ff7f50;
}
